@font-face {
    font-family: 'arcade';
    src: url(fonts/ARCADECLASSIC.TTF);
    font-weight: 100;
    font-style: Regular;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
min-height: 100vh;
background: url(./Images/1.jpg);
background-size: 100%;
background-repeat: no-repeat;
overflow-x: hidden;



}


.container {
  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;


}
.banner {
    position: absolute;
    margin-top: 0;
    margin-left: 4.9%;
    bottom: -16%;
    width: 104.5%;
    height: 104.5%;
    background: url(./Images/Gif.gif);
    background-size: 47%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    clip-path: circle(150px at var(--x) var(--y));
    animation-name: fadeIn;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;


}

.banner:active {
    clip-path: circle(400px at var(--x) var(--y));

}



header {
      position: absolute;
    background-color: black;
    top: 12px;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 10000;
}

header .logo {
    background: transparent;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.563rem;
    text-transform: uppercase;
    letter-spacing: 0.313rem;
    font-family: Poppins, sans-serif;

}

.logo:hover{
   pointer-events: none;
   border: none;
   box-shadow: none;
   background: transparent;
   color: #fff;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;

}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;

}

header ul li a {
     text-decoration: none;
     padding: 0.375rem 0.938rem;
     color: #fff;
     border-radius: 1.25rem;
     font-family: Poppins, sans-serif;
     font-size: 1.1rem;
     text-transform: none;
     position: sticky;


}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;
    position: sticky;
    border: none;
    box-shadow: none;
    transition-delay: 0s;
}

a {
     background: transparent;
    z-index: 10000;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    font-family: arcade;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    position: relative;

 

}

.gif {
    background: url(./Images/2.gif);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 108%;
    width: 100%;
    margin-left: 55%;
    margin-top: 0%;
    bottom: -20%;

}

a:hover {
   color: #c967b6;
}



.Stay {
    background: transparent;
    position: absolute;
    margin-top: 23%;
    margin-left: 55%;
    animation-name: fadeIn ;
    animation-duration: 5s;
    animation-delay: 24s;
    opacity: 0;
    animation-fill-mode: forwards;

}

.Go {
    background: transparent;
    position: absolute;
   margin-top: 23%;

    right: 5%;
    font-family: arcade;
    animation-name: fadeIn ;
    animation-duration: 5s;
    animation-delay: 24s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media only screen and (max-width: 1400px) {
    a{
        font-size: 21px;
    }

@media only screen and (max-width: 1200px) {
    a{
        font-size: 17px;
    }

@media only screen and (max-width: 1000px) {
    a{
        font-size: 13px;
    }

@media only screen and (max-width: 1296px) {
    .gif{
   
    margin-left: 55%;
    margin-top: -23%;
    }
