@font-face {
    font-family: 'arcade';
    src: url(fonts/ARCADECLASSIC.TTF);
    font-weight: 100;
    font-style: Regular;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
min-height: 100vh;
background: black;
overflow-x: hidden;

}


header {
   position: absolute;
    background-color: black;
    top: 0px;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 20000;
    
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.563rem;
    text-transform: uppercase;
    letter-spacing: 0.313rem;
    font-family: Poppins, sans-serif;

}

.logo:hover{
   pointer-events: none;
   border: none;
   box-shadow: none;
   background: transparent;
   color: #fff;
   z-index: 20000;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;

}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;

}

header ul li a {
     text-decoration: none;
     padding: 0.375rem 0.938rem;
     color: #fff;
     border-radius: 1.25rem;
     font-family: Poppins, sans-serif;
     font-size: 1.1rem;
     text-transform: none;
     position: sticky;


}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
    font-family: Poppins, sans-serif;
    font-size: 1.1rem;
    text-transform: none;
    position: sticky;
    border: none;
    box-shadow: none;
    transition-delay: 0s;
    z-index: 20000;
}

a {
    z-index: 10000;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    font-family: arcade;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    position: relative;
    z-index: 20000;

 

}

.container {
  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;

    
}
.Girl {
    position: absolute;
    background: url("./Images/Girl.png");
    height: 100%;
    width: 100%;
    background-size: 54%;
    background-repeat: no-repeat;
    bottom: -6%;
    right: -2%;
    z-index: 10000;

}

.Back {
    position: absolute;
    background: url("./Images/Back.png");
    height: 100%;
    width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    bottom: -6%;
    right: -2%;
    z-index: 8000;

}


section {
    position: absolute;
    height: 100%;
    width: 140%;
    background-size: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: -24%;
    margin-left: 0%;
    right: -40%;
    opacity: 1;
    z-index: 9000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
}
.gif {
    background: url(./Images/1.gif);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 41%;
    height: 108%;
    width: 100%;
    margin-left: 55%;
    margin-top: 2.5%;

}
a {
    z-index: 10000;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    font-family: arcade;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    position: relative;

 

}

a:hover {
   color: #c967b6;
}



.Continue {
    position: absolute;
   margin-top: 45%;
    margin-left: 13%;
    animation-name: fadeIn ;
    animation-duration: 5s;
    animation-delay: 15s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 10000;

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1400px) {
    a{
        font-size: 21px;
    }

@media only screen and (max-width: 1200px) {
    a{
        font-size: 17px;
    }

@media only screen and (max-width: 1000px) {
    a{
        font-size: 13px;
    }

